@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=DM+Sans:wght@400;500;700&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	margin: 0;
	background: #08090b;
	font-family: 'DM Sans', sans-serif;
}
/* You can add global styles to this file, and also import other style files */
